$darkgrey: #1c1c1c;
$grey: #545454;
$lightgrey: #7c7c7c;
$light: #9e9e9e;
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #e8e8e8;
}
#root {
  display: flex;
  justify-content: center;
}
#calculator {
  padding: 10px;
  background: $darkgrey;
  width: 304px;
  margin-top: 30px;
  border-radius: 6px;
}
.displaycontainer {
  width: 296px;
  text-align: right;
  color: white;
  padding: 0px;
  margin: 4px;
  font-size: 30px;
  overflow: hidden;
}
#displayequation {
  text-align: left;
  font-size: 20px;
}
.hidden {
  visibility: hidden;
}
#display {
  padding: 10px 0px;
}
button {
  width: 68px;
  height: 68px;
  background: $lightgrey;
  color: white;
  border: none;
  font-size: 24px;
  margin: 4px;
  cursor: pointer;
  &:active {
    background: $light;
  }
}
#clear {
  width: 144px;
  background: #c40707;
  &:active {
    background: #ff0f0f;
  }
}
#equals {
  width: 144px;
  background: #0f7004;
  &:active {
    background: #15a805;
  }
}
.operators {
  background: $grey;
  &:active {
    background: $lightgrey;
  }
}

@media only screen and (max-width: 324px) {
  #calculator {
    margin-top: 0px;
    border-radius: 0px;
    width: 100%;
    padding: 2%;
  }
  .displaycontainer {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0px;
    font-size: 30px;
  }
  button {
    width: 23%;
    font-size: 24px;
    margin: 1%;
  }
  #clear {
    width: 48%;
  }
  #equals {
    width: 48%;
  }
}